$innen: #0275d8;
$mitte: #378fdd;
$aussen: #71acdf;

.container{
  width: 100%;

}
.row{
  display: flex;
  padding: 10px 60px 0px
}
.column{
  width: 50%;
}
.card{
  border: 1px grey solid;
  border-radius: 10px;
  min-height: 70vh;
  width: 50%;
}
.cardT{
  margin-right: 20px;
}

.cardL{
  margin-left: 20px;
}
h3{
  margin-bottom: 0px;
}
.titleT{
  padding-right: 20px;
}
.titleL{
  padding-left: 20px;
}
.cardRow{
  display: flex;
  width:100%;
  height:20%;

  .timeStamp{
    background-color: grey;
    color: white;
    width: 17%;
    margin: 2px 4px;
    border-radius: 15px;
    text-align: center;
    position: relative;
    .time{
      font-weight: 500;
      font-size: 28px;
      position: absolute;
      top: 30%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    .date{
      position: absolute;
      top: 70%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
  .column{
    border-top: grey 1px solid;
    width: 80%;
    padding: 5px 0px 5px 5px;
    display: flex;
    .infos {
      width: 30%;
      padding-right: 25px;
    }
      .title {
        font-size: 16px;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-weight: 500;
        line-height: 1;
        letter-spacing: 0.02em;
      }

      .autor {
        font-size: 10px;
        line-height: 15px;
      }

      .meinung {
        font-size: 10px;
        line-height: 15px;
      }

    .comment{
      width: 70%;
      font-size: 12px;
      color: #808080;
      font-style: italic;
      line-height: 15px;
      padding-top: 36px;
      padding-right: 25px;
    }
  }

}
.cardRow:nth-child(1) .box,
.cardRow:nth-child(1) .column{
  border-top: none !important;
}


.box {
  width: 17%;
  border-top: grey 1px solid;
  text-align: center;
  position: relative;
  margin-left: 5px;
}
.anzahl{
  font-weight: 500;
  font-size: 28px;
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.trending{
  width:100%;
}
.icon{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: grey;
}


.balkenH {
  width: 85%;
  padding-top: 4px;
  display: flex;

  .innen {
    background-color: $innen;
  }

  .mitte {
    background-color: $mitte;
  }

  .aussen {
    background-color: $aussen;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px  black;

    height: 25px;
    text-align: center;
    color: white;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .tooltip:nth-child(1) {
    border-radius: 5px 0px 0px 5px;
  }
  .tooltip:last-child {
    border-radius: 0px 5px 5px 0px;
  }
  .tooltip:only-child {
    border-radius: 5px;
  }
}
.balkenDiv{
  display: flex !important;
  .anzahlDiv{
    width: 15%;
    height: 30px;
    text-align: center;
    position: relative;
    .center{
      vertical-align: middle;
      top: 50%;
      left: 40%;
      position: absolute;
      transform: translate(-40%, -50%);
    }
    .center2{
      vertical-align: middle;
      top: 50%;
      left: 60%;
      position: absolute;
      transform: translate(-60%, -50%);
    }
  }
}