$adesso-blue: #0275d8;
$adesso-grey: #857971;
$adesso-white: #f4f4f4;
$white: #ffffff;
$innen: #0275d8;
$mitte: #378fdd;
$aussen: #71acdf;


.tooltip-blip {
  line-height: 10 !important;
  height: 100px !important;
  font-size: 15em !important;
}

.stroke {
  stroke: #dfeef5;
  stroke-width: 5;
}

svg {
  display: block;

  .innerCircleRing {
    fill: $adesso-blue;
  }

  .middleCircleRing {
    fill: #378fdd;
  }

  .outerCircleRing {
    fill: #71acdf;
  }

  g {
    cursor: pointer;

    .blip-detail-sheet {
      display: block;
    }

    .blipIndex {
      fill: $adesso-grey;
      z-index: 1000;
    }

    .blipCircle {
      fill: $white;

      &:hover {
        stroke: #bebebe;
        fill: #ecf5fd;
      }
    }
  }

  .tech-path {
    stroke: #7a7a7a;
    fill: #7a7a7a;
    font-size: 1.2em;
  }
}

.blip-overlay {
  background-color: rgba($adesso-blue, $alpha: 0.50);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 1;

  .blip-header {
    display: inline-block;
    width: 100%;

    button {
      width: 2em;
      height: 2em;
      font-weight: bold;
      //float: right;
      font-size: 2em;
      //background: $adesso-white;
      color: $adesso-blue;
      //margin-top: 1.25em;
      margin: 0px 24px;
    }

    h2 {
      float: left;
      margin: 0px;
      padding: 4px 0px;
    }

    h3 {
      margin: 10px 0px;
      font-size: 25px;
    }
  }

  .blip-detail-sheet {
    width: 84%;
    margin: 0 auto;
    padding: 1em 5%;
    background: $white;
    border: 1px solid $adesso-grey;
    margin-top: 3%;
  }
}

//Generell check
.blips-list {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  height: auto;
  position: absolute;
  width: 100%;
  background-color: #dfeef5 !important;
  box-shadow: none !important;

  .close-button {
    border-radius: 0 !important;
    background-color: $adesso-blue !important;
  }

  .ring-list {
    width: 30% !important;
    margin: 2em 2em;
  }
}


.blip-close-button-mobile {
  display: block;
  position: absolute;
  right: 8vw;

  button {
    width: 2em;
    height: 2em;
    font-weight: bold;
    font-size: 2em;
    background: $adesso-white;
    color: $adesso-blue !important;
  }
}

.discussionItem {
  padding: 10px 0px;
}

//.meinung {
//  color: white;
//  text-align: center;
//}
.discussionContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 2px 0px;

  .name {
    font-weight: bold;
  }

  p{
    margin-bottom: 5px;
  }
  .timestamp {
    color: grey;
  }

  .inputText {
    width: 80%;
    min-height: 38.8px;
    height: 100%;
    padding: 5px;
  }

  .sendButton {
    float: right;
  }

  .inputTextValid {
    width: 80%;
    min-height: 38.8px;
    height: 100%;
    padding: 5px;
    border-radius: 5px;
    border-color: #C0C0C0;
    border-width: 1px;
    margin-left: 40px;
  }
  .inputTextError {
    width: 80%;
    min-height: 38.8px;
    height: 100%;
    padding: 5px;
    border-radius: 5px;
    border-color: red;
    margin-left: 40px;
    border-width: 1px;
  }
}

.desc {


  h4 {
    font-size: 25px;

  }
}


.diskussionButton {
  padding: 8px 0px !important;
}


.blip-overlay {
  overflow-y: auto;

  .balken{
    width: 70% !important;
  }
}

.MuiFormControl-root {
  width: 90%;
}

.MuiInputBase-input {
  font-size: 0.7rem !important;

}

.meinung.innen {
  color: $innen;
}

.meinung.mitte {
  color: $mitte
}

.meinung.aussen {
  color: $aussen;
}

.balken {
  width: 70%;
  display: flex;
  line-height: 30px;

  .innen {
    background-color: $innen;
  }

  .mitte {
    background-color: $mitte;
  }

  .aussen {
    background-color: $aussen;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px  black;

    height: 30px;
    text-align: center;
    color: white;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }


  .tooltip:nth-child(1) {
    border-radius: 5px 0px 0px 5px;
  }
  .tooltip:last-child {
    border-radius: 0px 5px 5px 0px ;
  }
  .tooltip:only-child {
    border-radius: 5px;
  }
}
.balkenDiv{
  display: flex !important;
  .anzahlDiv{
    width: 15%;
    height: 30px;
    text-align: center;
    position: relative;
    .center{
      vertical-align: middle;
      top: 50%;
      left: 40%;
      position: absolute;
      transform: translate(-40%, -50%);
    }
    .center2{
      vertical-align: middle;
      top: 50%;
      left: 60%;
      position: absolute;
      transform: translate(-60%, -50%);
    }
  }
}

