$adesso-blue : #0275d8;
$adesso-grey : #857971;
$adesso-white : #f4f4f4;
$white : #ffffff;

@media (min-width: 763px) and (max-width: 1160px){
    
    
    .radar-svg {
        height: 88vh !important;
    }
    svg {
        margin: 1vh auto;
    }

    //Mobile-Select
    .quadrant-buttons {
        display: none;
    }

    //Liste Schließen button
    .close-button {
        display: none !important;
    }

    //Liste
    .blips-list {
        height: 85vh;
        .ring-list {
            width: 33% !important;
        }
        h6{
            margin-left: 2em;
            font-weight: bold;
        }
    }
    
    .quadrant-tab, .tech-tab {
        width: 19vw !important;
        font-size: .7em !important;
    }




    .blip-detail-sheet {
        margin: 4em auto !important;
        .blip-header {
            margin: 0 0;
            line-height: 0;
            .blip-close-button {
                display: none;
            }
            h2 {
                font-size: 2.2em;
            } 
        }
        h3 {
            font-size: 1.8em;
            margin-top: 0;
        }
        .blip-close-button-mobile {
            display: block;
            right: 6em !important;
        }
    }
}