$adesso-grey: #857971;
$adesso-blue: #0275d8;
$adesso-white: #f4f4f4;

.Login div {
  padding: 40px 0;
  background-color: #71acdf;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.Login form {
  margin: 0 auto;
  max-width: 500px;


}
.Login input[type=email]
{
  width: 80%;
  padding: 12px 10px;
  margin: 3px 0;
  border: 1px solid $adesso-grey;
}
.Login input[type=password]
{
  width: 80%;
  padding: 12px 10px;
  margin: 3px 0;

  border: 1px solid $adesso-grey;
}

.Login button{
  width: 2em;
  height: 3em;
  font-size: 1em;
  background: $adesso-white;
  width: 40%;
  margin-right: -150px;
 color: black;
}