$adesso-grey: #857971;
$adesso-blue: #0275d8;
$adesso-white: #f4f4f4;

.Login form {
  margin: 0 auto;
  padding: 20px;
  max-width: 500px;
  border-radius: 7px;
  align-items: center;
}

.Login textfield {
  margin: 10px;
}

.error div {
  color: red;
  padding-bottom: 10px;
}

.form div {
  margin: 3px;
  align-items: center;
  width: 100%;
}

.form {
  margin-top: 60px;
  width: 80%;
}

.Login button {
  align: right;
  width: 40%;
  padding: 10px;
  display: flex;
}

.button div {
  padding-top: 10px;
  align-items: flex-end;
}

.error {
  color: red;
}

